.logo {
  width: 183px;
  height: 32px;
}
.logo_place_header {
  background-image: url(./logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

@media screen and (max-width: 450px) {
  .logo_place_header {
    left: 26px;
  }
}

@media screen and (max-width: 880px) {
  .logo_place_header{
    left: calc(26px + (100vw - 450px) / (880 - 450) * ((64 - 26)))
  }
}
