.Header {
  min-height: 92px;
  max-height: 100px;
  max-width: 1200px;;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

