/* .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.link {
  color: #9CBBFF;
  text-decoration: none;
  font-size: 22px;
  line-height: 30px;
  margin-right: 15px;
}

.link:last-of-type {
  margin-right: 0;
}

.active {
  color: #437DFF;
  pointer-events: none;
}

