.header {
  height: 100vh;
  min-height: calc(600px - 92px);
  max-height: calc(756px - 100px);
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-left: 64px;
  align-self: center;
  /* z-index: 30; */
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 20;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  opacity: .5;
  transition: opacity .5s ease-in-out;
}

@media screen and (max-width: 450px) {
  .header__square-pic {
    height: calc(568px / 2);
    width: calc(568px / 2);
  }
}

@media screen and (max-width: 880px) {
  .header__square-pic {
    height: calc((568px / 2) + (100vw - 450px) / (568/ 2) * (568/ 2));
    width: calc((568px / 2) + (100vw - 450px) / (568/ 2) * (568/ 2));
  }
}
