.dashboard {
  height: 100vh;
  min-height: calc(600px - 92px);
  max-width: 1200px;
  display: flex;
  margin-left: 64px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.dashboard__title {
  max-width: 700px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: flex-start;
  z-index: 1;
}

.dashboard__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  line-height: 40px;
  max-width: 400px;
  margin: 0;
  z-index: 1;
}
.dashboard__square-pic {
  height: calc(568px*.8);
  width: calc(568px*.8);
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}
.dashboard__main-illustration {
  object-fit: contain;
  width: calc(765px * 0.5);
  height: calc(608px * 0.5);
  position: absolute;
  right: 0;
  bottom: 100px;
  z-index: 10;
}


.link {
  position: relative;
  padding: 14px 20px;
  color: #2E9AFF;
  color: #2f80ed;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 32px;
}

.link::before,
.link::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.6s;
}

.link::before {
  top: 0;
  left: 0;
  border-top: 6px solid #2f80ed;
  border-left: 6px solid #2f80ed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link::after {
  bottom: 0;
  right: 0;
  border-bottom: 6px solid #2f80ed;
  border-right: 6px solid #2f80ed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link:hover::before,
.link:hover::after {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.link:hover {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .dashboard__main-illustration{
    width: 383px;
    height: 304px;
  }
}

@media (min-width: 450px ) and (max-width: 880px) {
  .dashboard__main-illustration {
    width: calc(383px + (100vw - 450px) / (880 - 450) * ((765px * 0.8) - 383));
    height: calc(608px + (100vw - 450px) / (880 - 450) * (((608px * 0.8) - 304)));
  }
  .dashboard__square-pic {
    height: calc((568px / 2) + (100vw - 450px) / (880 - 450) * (568/ 2));
    width: calc((568px / 2) + (100vw - 450px) / (880 - 450) * (568/ 2));
  }
}


@media screen and (max-width: 450px) {
  .dashboard__square-pic {
    height: calc(568px / 2);
    width: calc(568px / 2);
  }
}

/* @media screen and (max-width: 880px) {
  .dashboard__square-pic {
    height: calc((568px / 2) + (100vw - 450px) / (880 - 450) * (568/ 2));
    width: calc((568px / 2) + (100vw - 450px) / (880 - 450) * (568/ 2));
  }
} */


@media screen and (max-width: 450px) {
  .dashboard__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 880px) {
  .dashboard__subtitle {
    font-size: calc(24px + (100vw - 450px) / (880 - 450) * ((18 - 24)));
    line-height: calc(28px + (100vw - 450px) / (880 - 450) * ((40 - 28)));

  }
}


@media screen and (max-width: 450px) {
  .dashboard__title {
    font-size: 48px;
    line-height: 42px;
  }
}

@media (min-width: 450px ) and (max-width: 880px) {
  .dashboard__title {
    font-size: calc(48px + (100vw - 450px) / (880 - 450) * ((102 - 48)));
    line-height: calc(48px + (100vw - 450px) / (880 - 450) * ((96 - 48)));
  }
}

@media screen and (max-width: 450px) {
  .dashboard {
    margin-left: 26px;
  }
}

@media screen and (max-width: 880px) {
  .dashboard {
    margin-left: calc(26px + (100vw - 450px) / (880 - 450) * ((64 - 26)))
  }
}



